site:
  title: Kogito Serverless Workflow Guides
  start_page: serverlessworkflow::index.adoc
urls:
  latest_version_segment: latest
antora:
  extensions:
  - require: '@antora/lunr-extension'
    index_latest_only: true
content:
  sources:
  - url: git@github.com:kiegroup/kogito-docs.git
    branches:
    - main
    - 1.24.x
    - 1.25.x
    - 1.26.x
    - 1.27.x
    - 1.28.x
    start_path: serverlessworkflow
runtime:
  fetch: true
ui:
  bundle:
    url: ./antora/ui-bundle.zip
    snapshot: true
  supplemental_files: ./antora/supplemental-ui
asciidoc:
  extensions:
  - asciidoctor-emoji
  - ./lib/tabs
  attributes:
    linkattrs: ''
    toc: null
