site:
  title: Serverless Workflow Guides Local Preview
  start_page: serverlessworkflow::index.adoc
antora:
  extensions:
    - require: '@antora/lunr-extension'
content:
  sources:
    - url: .
      branches: HEAD
      start_path: serverlessworkflow
ui:
  bundle:
    url: ./antora/ui-bundle.zip
    snapshot: true
  supplemental_files: ./antora/supplemental-ui
asciidoc:
  extensions:
  - asciidoctor-emoji
  attributes:
    linkattrs: ''
    toc: ~
    quarkus_version: '2.9.1.Final'
    java_min_version: 11
    maven_min_version: 3.8.1
    graalvm_min_version: 22.0.0.2
    spec_version: 0.8
    kogito_examples_url: https://github.com/kiegroup/kogito-examples.git
    quarkus_cli_url: https://quarkus.io/guides/cli-tooling
    spec_website_url: https://serverlessworkflow.io/
    spec_doc_url: https://github.com/serverlessworkflow/specification/blob/0.8.x/specification.md
    cloud_events_url: https://cloudevents.io/
    cloud_events_sdk_url: https://github.com/cloudevents/sdk-java
