site:
  title: Kogito Serverless Workflow Guides
  start_page: serverlessworkflow::index.adoc
urls:
  latest_version_segment: latest
antora:
  extensions:
    - require: '@antora/lunr-extension'
content:
  sources:
    - url: git@github.com:kiegroup/kogito-docs.git
      branches: [main]
      start_path: serverlessworkflow
runtime:
  fetch: true
ui:
  bundle:
    url: ./antora/ui-bundle.zip
    snapshot: true
  supplemental_files: ./antora/supplemental-ui
asciidoc:
  extensions:
  - asciidoctor-emoji
  - ./lib/tabs
  attributes:
    linkattrs: ''
    toc: ~
