.card-section .sectionbody{
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 45%;
    max-width: 47%;
    margin: 10px;
    border: 1px solid #0858705e;
    border-radius: 10px;
    padding: 13px;
}

.card :hover {
    box-shadow: none !important;
    border: none !important;
}

.card-section > .sectionbody :hover {
    box-shadow: 0 0 5px #e4edf7;
    background-color: #e4edf7;
    border: 1px solid #e4edf7;
}

.card-title {
    margin-top: 0 !important;
    font-size: 1.4em;
}
